body{
    /*background-color: rgb(29, 29, 29);*/
    /*background: url(images/bg1.jpg);*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,25,66,1) 100%);
    background-attachment: fixed;
    background-size: cover;
}
html{
    margin: 0;
    padding: 0;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}
.banner>.hack{
    width: 70px;
    height: 50px;
    float: left;
}
.banner>.uw{
    width: 60px;
    height: 60px;
    float: right;
}
.instruct {
    width: 35%;
    height: 35%;
    margin-left: 32.5%;
    border-radius: 20px;
    margin-top: 50px;
}
.github{
    color:rgb(172, 167, 167);
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.banner > img {
    padding: 20px;
}
a{
    color: black;
    text-decoration: none;
    font-style: normal;
}

.header{
    font-family: "Georgia";
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Georgia";
    color: #f1f1f1;
    font-size: 18px;
}
.filters{
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 4px solid #85754d;
    border-radius: 12px;
    background: #85754d;
    z-index: 5;
} 
.filters>div{
    width: 40%;
    height: 100%;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search_tool{
    width: 100%;
    height: 100%;
}
.tools{ 
    width: 100%;  
    height: 100%;
    vertical-align: middle;
    font-size: 18px;
    font-family: "Georgia";
    background: #f1f1f1;
    border: 0px;
    border-radius: 5px;
}
button{
    width: 20%;
    height: 100%;
    font-family: "Gerogia";
    font-style: italic;
    font-size: 20px;
    background: #f1f1f1;
    border: 2px solid #f1f1f1;
    border-radius: 50px;
    margin-right: 1%;
}

button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,25,66,1) 100%);
    color: #f1f1f1;
    box-shadow: 2px 2px 2px 2px rgba(51,25,66,1);
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
.sticky + .container {
    padding-top: 60px;
}
.container{
    width: 100%;
    height: 100%;
}
.column{
    height: 100%;
    width: 23%;
    float: left;
    margin-left: 1.9%;
}
.card{
    width: 400%;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    float: left;
}
.name_des{
    width: 100%;
    height: 3%;
    display: flex;
    float: left;
}
.inner_card{
    width: 97.7%;
    height: 90%;
    border: 3.6px solid rgb(29,161,242);
}
.inner_card:hover{
    border: 7px solid rgb(15, 133, 206);
}
.card_img{
    width: 100%;
    height: 100%;
}